
<!--
<div style="text-align:center">
    <h2>{{title}}</h2>
  </div>
-->
  <!--<app-animal></app-animal> -->
  
  <main>
    <div style="text-align:center">
    <h2>{{title}}</h2>
  </div>
    <header>
      <img width="200px" src="./assets/turtle.jpg" alt="Turtle">
      <img width="200px" src="./assets/bunnies.jpg" alt="Bunnies">
      <img width="200px" src="./assets/birds.jpg" alt="Birds">
      <img width="200px" src="./assets/black cat.jpg" alt="Black Cat">
      <img width="200px" src="./assets/dog getting a treat.jpg" alt="Dog">
      
    </header>
    
  </main>
  
  <footer class="text-center text-lg-start fixed-bottom">
    <div class="col-6 border border-primary p-6 col-sm-12">
      <!--<div class="text-center p-4" style="background-color: rgb(238, 170, 170);"> -->
      <div class="text-center p-4">
        <h5>Loving Care Animal Shelter &nbsp; 123 Woodward Ave. &nbsp; Detroit, MI 48226 &nbsp; 313-555-3131</h5>
      </div>
    </div>
  </footer>