<h3>{{ title }}</h3>
<!-- <div class="container"> -->
<div class="card">
    <div class="card-header">
    <!-- <div class="row mt-5"> -->
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <!-- <th>ServiceID</th> -->
                    <th>Category Name</th>
                    <th>Service Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Minutes</th>                   
                </tr>
            </thead>
            <tbody *ngIf="services.length > 0; else noActivity">
                <tr *ngFor="let service of services">
                    <!-- <td>{{service.ServiceID}}</td> -->
                    <td>{{service.CategoryName}}</td>
                    <td>{{service.ServiceName}}</td>
                    <td>{{service.Description}}</td>
                    <td>{{service.Price}}</td>
                    <td>{{service.Minutes}}</td>                  
                </tr>
            </tbody>
        </table>
        <ng-template #noActivity>
            No to do's available
        </ng-template>
    </div>
</div>