<h1>{{ title }}</h1>

<input #nameInput type="text">
<input #dateInput type="date">
<input #numInput type="number">

<button (click)="sayHello(nameInput.value)">Say Hello</button>

<p>{{ name }}</p>
<p>My name is {{ nameInput.value | uppercase }}</p>
<p>The Number is {{ number | percent }}</p>
<p>The Currency Number is {{ number | currency: 'BHD' }}</p>
<p>The Currency Number is {{ number | currency: 'USD' }}</p>

<!-- <p>I am lost in space</p>
<h1>{{ name }}</h1> -->
