<!--<p>animal works!</p>-->

<div class="row m-5">
   <h3>{{title}}</h3>
    <table class="table table-bordered table-responsive">
        <thead id="activitiesTblHead" class="thead-dark">
            <tr>
                <th>AnimalID</th>
                <th>Name</th>
                <th>Species</th>
                <th>Breed</th>
                <th>Owner</th>
                <th>CheckInDate</th>
                <th>CheckOutDate</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let animal of animals">
                <td>{{animal.animalId}}</td>
                <td>{{animal.name}}</td>
                <td>{{animal.species}}</td>
                <td>{{animal.breed}}</td>
                <td>{{animal.owner}}</td>
                <td>{{animal.checkInDate}}</td>
                <td>{{animal.checkOutDate}}</td>    
                <!-- routerLink="{{detailsUrl}}{{course.id}} -->
               <!--<td><a [routerLink]="['/animal-details', animal.animalid]">{{animal.name}} Animal Details</a></td>
            -->
            </tr>
        </tbody>
    </table>
    <!-- <ng-template #noActivities>
    <p *ngIf="noActivitiesBool">No Activities Available</p>
    </ng-template> -->
</div>
