<p>form-exercise works!</p>

<ul>
    <li *ngFor="let contact of contacts">
        {{ contact.name }} - {{ contact.email }} - {{ contact.phone }}
    </li>
</ul>

<form ngNativeValidate (submit)="onAddContactSubmit()">
   Contact: <input type="text" [(ngModel)]="newContact.name" name="title" required/> <br>
   Email: <input type="text" [(ngModel)]="newContact.email" name="email" required /><br>
   Phone: <input type="text" [(ngModel)]="newContact.phone" name="phone" required/><br>
   <input type="submit" value="Add Contact">
</form>

