#logo {
    padding: 15px;
    margin-left: 15px;
    background-color: darkcyan;
    text-align:center;
    display: inline block;
}

h1, h5{
    background-color: darkcyan;
    
}
ul.justify-content-center, li{
    list-style-position:inside;
}

nav>ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav>ul>li{
    float: left;
}

address {
    display: block;
    
}

.left {
    float: left;
    width: 100px;
    height: 50px;
    margin: 10px;
    border: 3px solid red;
   }

