<app-header></app-header>
<router-outlet></router-outlet>

<!-- <main>
  <header>
    <nav>
      <ul>
        <li>
          <a routerLink="/home">Home</a>
        </li>
        <li>
          <a routerLink="/ToDosComponent">ToDosComponent</a>
        </li>
        <li>
          <a routerLink="/AppComponent">AppComponent</a>
        </li>
      </ul>
    </nav>
  </header>
  <router-outlet></router-outlet>

  <div class="container">
    <div class="row justify-content-center">
      <div class="text-md-center text-sm-left">
        <div class="col-8 border border-primary p-6 col-sm-12">
          <h3>Ipsum Lorem Text</h3>
          <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          </h6>
        </div>
      </div>
    </div>
</main>
<footer></footer> -->