<!-- <p>Search Component</p>     -->

<div>
    <label for="categories"><b>Categories</b></label><br>
    <select name="categoryList" id="categoryList" (change)="onSelectSpa($event)">
        <option>Select option</option>
        <option *ngFor="let category of categories" [value]="category.CatId">
            {{category.CategoryName}}
        </option>
    </select>
    <table class="table table-bordered">
        <thead class="thead-dark"><br>
            <tr>
                <td><b>Service Name</b></td>
                <td><b>Description</b></td>
                <td><b>Price</b></td>
                <td><b>Minutes</b></td> 
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let service of services">
                <td>{{service.ServiceName}}</td>
                <td>{{service.Description}}</td>
                <td>{{service.Price}}</td>
                <td>{{service.Minutes}}</td>
            </tr>
        </tbody>
    </table>
</div>