<!-- <p>home works!</p> -->

<div class="card">
    <div class="card-header">
        <div class="text-center p-4" style="background-color: rgb(238, 170, 170);">
            <div class="col-8 border border-primary p-6 col-sm-12">
                <h1>{{ title }}</h1>
                <img src="./assets/aromatherapy.jpg" width="200" alt="Company Logo">&nbsp;
                <img src="./assets/mani pedi.jpg" width="170" alt="ManiPedi">&nbsp;
                <img src="./assets/massage.jpg" width="250" alt="Massage">

                <p class="p-lead intro_text">
                    Nestled in the heart of Downtown Detroit, The Luxury Spa is an unforgettable all-inclusive resort
                    escape for the entire family.
                    Relax at the spa with a massage or unwind at the swim-up bar. Enjoy world-class cuisine at any of
                    the dozen bars and restaurants, including
                    kid friendly dining options.
                </p>
                
                <p>The Spa is open to overnight and day guests. To book an appointment, please click the link below. For
                    same-day appointments or to inquire about availability, please call 313-55-3131.
                </p>
            </div>
            <app-reviews></app-reviews>
        </div>
    </div>
</div>
<main></main>
<!-- <footer class="text-center text-lg-start">
    <div class="col-6 border border-primary p-6 col-sm-12">
    <div class="text-center p-4" style="background-color: rgb(238, 170, 170);">
        <h5>The Luxury Spa &nbsp; 123 Woodward Ave. &nbsp; Detroit, MI 48226 &nbsp; 313-555-3131</h5>
    </div>
    </div>
</footer> -->