<!-- <h3>{{ title }}</h3> -->
<div class="container"><br>
    <!-- <div class="row mt-5"> -->
        <!-- <div class="text-center col-8 border border-primary p-6 col-sm-12"><br> -->
        <div class="text-center col-8 p-6 col-sm-12">    
        <h5><b>Customer Reviews</b></h5>
            <table class="table table-bordered border-primary">
            <thead class="thead-dark"><br>              
                <tr> 
                    <th>Date</th>
                    <th>Reviewer</th>
                    <th>Comment</th>
                </tr>
            </thead>
            <tbody *ngIf="reviews.length > 0; else noActivity">
                <tr *ngFor="let review of reviews">
                    <td>{{review.date}}</td>
                    <td>{{review.reviewer}}</td>
                    <td>{{review.comment}}</td>
                </tr>
            </tbody>
        </table>
        <ng-template #noActivity>
            No to do's available
        </ng-template>
    </div>
</div>