<p>user-input works!</p>

<h2 class="d-flex justify-content-center">{{title}}</h2>
<div class="container">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Jane Doe"
      [(ngModel)]="firstName" />
  </div>
  <div class="form-group">
    <label for="residesIn">Hometown</label>
    <input type="text" class="form-control" id="residesIn" name="residesIn" placeholder="Ft. Worth, TX"
      [(ngModel)]="residesIn" />
  </div>
</div>
<br>
<div class="container">
  <table class="table table-bordered">
    <tr>
      <td>First Name</td>
      <td>{{firstName}}</td>
    </tr>
    <tr>
      <td class="w-35">Hometown</td>
      <td class="w-75">{{residesIn}}</td>
    </tr>
  </table>
</div>