<!-- <p>header works!</p> -->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLinkActive="active" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/todos">ToDos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/users">UsersComponent</a>
            </li>
        </ul>
    </div>
</nav>
