<p>course-details works!</p>

<h3 id="Course Heading">Course Detail</h3>

<div>
    <table id="courseDetailTbl" class="table table-responsive table-striped">
        <thead id="courseDetailTblHead">
            <tr>
                <th>Instructor</th>
                <th>Start Date</th>
                <th>Number of Days</th>
            </tr>
        </thead>
        <tbody id="courseDetailTblBody">
          <th>{{course?.instructor}}</th>
          <th>{{course?.startDate}}</th>
          <th>{{course?.numDays}}</th>
        </tbody>
    </table>
</div>
