

<div class="col-8 border border-primary p-6 col-sm-12">
    <nav class="navbar navbar-expand-sm text-dark">
      <ul>
        <a class="menuItem" routerLink="/home" routerLinkActive="active">Home</a>&nbsp;
        <a class="menuItem" routerLink="/search">Grooming</a>&nbsp;
        <a class="menuItem" routerLink="/search">Boarding</a>&nbsp;
        <a class="menuItem" routerLink="/book">Book Appointment</a>&nbsp;
        <a class="menuItem" routerLink="/reviews">Reviews</a>
      </ul>
    </nav>
  </div>
