<p>word-counter works!</p>

<h2 class="d-flex justify-content-center">{{ title }}</h2>
<div class="container">
    <div class="form-group"></div>
    <form name="myform" (submit)="onSubmit()">
        <div>
            <label for="InputBox" class="m-2"><b>Input text to count the words from</b></label>
        </div>
        <div>
            <input name="InputBox" type="text" class="formcontrol m-2" id="InputBox" placeholder="" required
            [(ngModel)]="inputText" />
        </div>
        <div>
            <input type="submit" class="m-2" value="Submit" name="inputSubmit">
        </div>
        <div>
            <p>The number of words entered are : <b>{{ wordCount }}</b></p>
            <br> {{ inputText }}
        </div>
    </form>
</div>