<app-header></app-header>

<h1>{{title}}</h1> 

<app-my-component></app-my-component>
<app-item-list [items]="items" [filterText]="filterText" [sortField]="sortField" [sortOrder]="sortOrder"></app-item-list>