<!--<p>home works!</p>-->

<main>
  <div style="text-align:center">
    <h2>{{title}}</h2>
  </div>
  <header>
    
  </header>

  <body>
    <div style="text-align:center">    
      <img width="600px" src="./assets/Group4.jpg" alt="Group of Superheroes">     
    </div>
  </body>
  <div style="text-align:center">
    <h2 class="hero-header">The History of Superheroes</h2>
  </div>
 <!-- <h3> -->
    <p>
      It’s the year 3542. Some people turned into superheroes. The superheroes ended up saving the climate and all other world problems. 
      The world is a happy place. All is great. However, emergencies still occur sometimes. We need to register all the superheroes. 
       
      By orders of the president, the voluntary sign-up system for superheroes was created so that can be reached when their help is needed.       
    </p>
    <p>
      These legendary heroes belong to a princely class existing in an early stage of history and they transcend 
      ordinary men and women in skill, strength, and courage.

      War or dangerous adventure is the hero’s normal occupation. THey are surrounded by noble peers, and is magnanimous
      to his followers and ruthless to his enemies. In addition to their prowess in battle, they are resourceful and skillful
      in many crafts; can build a house, sail a boat, and, if shipwrecked, is an expert swimmer. 

      The appearance of heroes in literature marks a revolution in thought that occurred when poets and their audiences
      turned their attention away from immortal gods to mortal men, who suffer pain and death, but in defiance of this
      live gallantly and fully, and create, through their own efforts, a moment’s glory that survives in the memory of their
      descendants. They are the first human beings in literature, and the novelty of their experiences has a perennial
      freshness.
    </p>
  <!--</h3>-->

</main>

<footer class="text-center text-lg-start fixed-bottom">
  <div class="col-6 border border-primary p-6 col-sm-12">
    <div style="text-align:center">
      <h2>Super Hero Headquarters &nbsp; 123 Woodward Ave. &nbsp; Detroit, MI 48226 &nbsp; 313-555-3131</h2>
    </div>
  </div>
</footer>