<p>users works!</p>

<h1>To Do's</h1>
<div class="container">
    <div class="row mt-5">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Phone</th>                   
                </tr>
            </thead>
            <tbody *ngIf="users.length > 0; else noActivity">
                <tr *ngFor="let user of users">
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.username}}</td> 
                    <td>{{user.email}}</td>
                    <td>{{user.address.city}}</td>
                    <td>{{user.phone}}</td>                    
                </tr>
            </tbody>
        </table>
        <ng-template #noActivity>
            No to do's available
        </ng-template>
    </div>
</div>