<p>superhero works!</p>

<div class="row m-5">
    <h3>{{title}}</h3>
     <table class="table table-bordered table-responsive">
         <thead id="activitiesTblHead" class="thead-dark">
             <tr>
                 <th>Id</th>
                 <th>Name</th>
                 <th>Nickname</th>
                 <th>Superpower</th>
                 <th>TelephoneNumber</th>
                 <th>DateOfBirth</th>
             </tr>
         </thead>
         <tr *ngFor="let superhero of superheroes">
                 <td>{{superhero.Id}}</td>
                 <td>{{superhero.Name}}</td>
                 <td>{{superhero.Nickname}}</td>
                 <td>{{superhero.Superpower}}</td>
                 <td>{{superhero.TelephoneNumber}}</td>
                 <td>{{superhero.DateOfBirth}}</td>
         </tr>
     </table>
 </div>    
