<p>outdoor activities works!</p>

<div class="container">
    <div class="row mt-5 mb-5">
        <label for="categoriesDDL">Type of Category: </label>
        <select id="categoriesDDL" (change)="onSelectActivity($event)">
            <option value="">Select one...</option>
            <option *ngFor="let category of categories">
                {{category}}
            </option>
        </select>
    </div>
    <div class="row mt-5">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    
                    <th>Category</th>
                    <th>Activity</th>
                </tr>
            </thead>
            <tbody *ngIf="matchingActivities.length > 0; else noSelectActivity">
                <tr *ngFor="let activity of matchingActivities">
                    <td>{{activity.category}}</td>
                    <td>{{activity.description}}</td>
                </tr>
            </tbody>
        </table>
        <ng-template #noSelectActivity>
            No activities available
        </ng-template>
    </div>
</div>