<h1>Contact Us</h1>
<p>contact us works!</p>

<p>{{ name1 }}</p>
<p>{{ email1 }}</p>
<p>{{ phone1 }}</p>

<p>{{ name2 }}</p>
<p>{{ email2 }}</p>
<p>{{ phone2 }}</p>

<p>{{ name3 }}</p>
<p>{{ email3 }}</p>
<p>{{ phone3 }}</p>
