<p>bookmodel works!</p>

<table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
    <th>Book Model</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of books">
    <td>{{ book.title }}</td>
    <td>{{ book.author }}</td>
    <td>{{ book.isbn }}</td>
    </tr>
    </tbody>
   </table>
   