<p>categories works!</p>

<h3>{{ title }}</h3>
<div class="container">
    <div class="row mt-5">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>CategoryName</th>
                    <th>CatId</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody *ngIf="categories.length > 0; else noActivity">
                <tr *ngFor="let category of categories">
                    <td>{{category.CategoryName}}</td>
                    <td>{{category.CatId}}</td>
                    <td>{{category.Image}}</td>
                </tr>
            </tbody>
        </table>
        <ng-template #noActivity>
            No to do's available
        </ng-template>
    </div>
</div>