<h1>Products</h1>
<p>products works!</p>

<img width="300" [src]="product1ImageURL" [alt]="product1AltText">;
<img width="300" [src]="product2ImageURL" [alt]="product2AltText">;
<img width="300" [src]="product3ImageURL" [alt]="product3AltText">;
