
/*
.nav-header, .nav-link {
    color: black;
    font-weight: bold;
  }
  
  .nav-link:hover {
    color: #67c7eb;
  }
  
  .nav-link:active {
    color: #FBCA03;
  }
 */
 /*
  a, #nav-link-btn {
    z-index: 1;
    font-weight: 500;
    font-size: 2rem; 
     padding: 10px 5px; 
  }
  */
  /*
  h4 {
    font-size: 3rem;
  }  
  */


