<!--<p>navbar works!</p>-->

<div class="col-8 border border-primary p-6 col-sm-12">
    <nav class="navbar navbar-expand-sm text-dark">
      <ul>
        <a routerLink="/home" routerLinkActive="active">Home</a>&nbsp;
        <a routerLink="/Superhero-details">Find a Superhero</a>&nbsp;
        <a routerLink="/AddSuperHero">Add Superhero</a>&nbsp;
      </ul>
    </nav>
  </div> 

  <!-- <ul>
    <li>
      <a routerLink="/">Home</a>&nbsp;
      <a routerLink="/Superhero-details">Find A Superhero</a>&nbsp;    
      <a routerLink="/AddSuperHero">Add Superhero</a>&nbsp;     
      <a routerLink="/EditSuperHero">Update Superhero</a>&nbsp;     
      <a routerLink="/DeleteSuperHero">Delete Superhero</a>&nbsp;
    </li>
  </ul> -->
 
    
