<h3>{{title}}</h3>
<div>
  {{randomNumber}}
</div>
<!-- <app-display-random></app-display-random> -->


<!-- <div class="row mt-5 mb-5">
  <label for="categoriesSayings">Type of Saying: </label>
  <select #selectInput autofocus id="categoriesSayings" (change) = "onSelectSaying($event)">
    <option value="">Select one...</option>
    <option *ngFor="let category of categories">
      {{category}}
    </option>
  </select>
</div>

<div class="row m-5">
  <label>Enter a person:</label>
  <input autofocus #personInput type="text">
  <button (click)="getSayingsByPerson(personInput.value)">Get sayings by person</button>
  <button (click)="clearValues(personInput, selectInput)">Clear Values</button>
</div>

<div class="row m-5">
  <table class="table table-bordered table-responsive" *ngIf="hasSayings; else noSayings">
    <thead id="activitiesTblHead" class="thead-dark">
      <tr>
        <th>Category</th>
        <th>Quote</th>
        <th>Person</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let saying of matchingSayings">
        <td>{{saying.category}}</td>
        <td>{{saying.quote}}</td>
        <td>{{saying.person}}</td>
      </tr>
    </tbody>
  </table>
  <ng-template #noSayings>
    <p *ngIf="hasSayings == false">No Matching Sayings Available</p>
    </ng-template>
</div>
 -->