<!-- <app-book *ngFor="let book of books" [title]="book" 
(onClickEdit)="clickEdit($event)"></app-book> -->

<!-- <h2 class="d-flex justify-content-center">{{ title }}</h2>
<div class="container">
    <div class="container">
        <div class="form-group">
            <label for="operand1">Operand 1: </label>
            <input type="number" class="form-control" id="operand1" placeholder="Operand 1" required autofocus [(ngModel)]="operand1" />
        </div>
        
        <div class="form-group">
            <label for="operand2">Operand 2: </label>
            <input type="number" class="form-control" id="operand2" placeholder="Operand 2" required [(ngModel)]="operand2" />
        </div>
        <br>
        <button type="button" class="btn btn-primary" (click)="onAddClicked()">Add</button>
        &nbsp;&nbsp;
        <button type="button" class="btn btn-primary" (click)="onSubtractClicked()">Subtract</button>
        &nbsp;&nbsp;
        <button type="button" class="btn btn-primary" (click)="onMultiplyClicked()">Multiply</button>
        &nbsp;&nbsp;
        <button type="button" class="btn btn-primary" (click)="onDivideClicked()">Divide</button>
        &nbsp;&nbsp;
        <button type="button" class="btn btn-secondary" (click)="onClearClicked()">Clear</button>
    </div>
    <div class="container mt-5" *ngIf="answerIsAvailable">
        <div class="form-group">
            <h3>Answer: {{answer}}</h3>
        </div>
    </div>
    <div class="container">
        <hr />
        <footer class="text-right">
        </footer>
    </div>
</div> -->

<main>
<header>
    <nav>
        <ul>
            <li>
                <a routerLink="/home">Home</a>
            </li>
            <li>
                <a routerLink="/user-input">Testing</a>
            </li>
            <li>
                <a routerLink="/contact-us">Contact Us</a>
            </li>
            <li>
                <a routerLink="/products">Products</a>
            </li>
            <li>
                <a routerLink="/word-counter">Word Counter</a>
            </li>
            <li>
                <a routerLink="/outdoor-activities">Outdoor Activities</a>
            </li>
            <li>
                <a routerLink="/bookmodel">Library of Books</a>
            </li>
            <li>
                <a routerLink="/contact">New Contact</a>
            </li>

        </ul>
    </nav>
</header>
<router-outlet></router-outlet>
</main>
<footer></footer>