<p>addsuperhero works!</p>

<div class="row m-2 col-4">
    
    <form>
        <label class="mt-3">Name</label>
        <input class="form-control" name="name" id="name" [(ngModel)]="name" autofocus required>
        
        <label>Nickname</label>
        <input class="form-control" name="nickname" id="nickname" [(ngModel)]="nickname" required>
        
        <label>Superpower</label>
        <input class="form-control" name="superpower" id="superpower" [(ngModel)]="superpower" required>
        
        <label>Telephone Number</label>
        <input class="form-control" name="telephoneNumber" id="telephoneNumber" [(ngModel)]="telephoneNumber" required>
        
        <label>Date of birth</label>
      <!--  <input type="Date" class="form-control" name="dateOfBirth" id="dateOfBirth" [(ngModel)]="dateOfBirth" required> -->
    </form>
   <!-- <button class="btn btn-dark" (click)="onClickAddButton()">Add</button> -->
</div>

