<p>details works!</p>

<!-- <div class="container"><br>
   
        <div class="text-center col-8 border border-primary p-6 col-sm-12"><br>
        <h5><b>Treatment Details</b></h5>
        <table class="table table-bordered">
            <thead class="thead-dark"><br>              
                <tr> 
                    <th>ServiceName</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Minutes</th>
                </tr>
            </thead>
            <tbody *ngIf="details.length > 0; else noActivity">
                <tr *ngFor="let detail of details">
                    <td>{{detail.ServiceName}}</td>
                    <td>{{detail.Description}}</td>
                    <td>{{detail.Price}}</td>
                    <td>{{detail.Minutes</td>
                </tr>
            </tbody>
        </table>
        <ng-template #noActivity>
            No to do's available
        </ng-template>
    </div>
</div> -->